
/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');


/* Global styles */
* {
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
    font-family:"Inter", sans-serif;
}

body {
    padding-top: 56px;
    background-color:rgb(247, 230, 210) ;
}


.navbar {
    background-color: #fed500;
}
.container #nav-brand{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    animation: flipOutY;  
    animation-duration: 800ms;
}
.container #nav-brand:hover {
    color: blue;
}
#navbar .navbar-brand {
    font-weight: bold;
}

.navbar-nav #dropdown-menu a{
    text-decoration: none;
    color: black;
}
#dropdown-menu .text-white a{
    color: bisque;
} 
#navbarNav #form-button  {
    border: 2px solid rgb(41, 206, 91);
    background-color: rgb(226, 226, 45);
    box-shadow: inset;
}
#navbarNav #form-button:hover {
color: blue;
background-color: rgb(73, 185, 9);
font-weight: bold;
}

/* hero section */
#hero {
    
    background: url(../images/indoorpictures/indoor10.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
}
/* about us */
/* #about-section {
    background-color: bisque;
    border-radius: 5px;
} */
.image-right {
    background: url(../images/indoorpictures/indoor2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
}
/* #about .about-image {
    background: url(../images/indoorpictures/indoor2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 300px;
    opacity: 0.5;
    color: blue;
    font-size: larger;
} */

/* #about {
    background-color: bisque;
    scroll-margin: 50px;
    padding-top: 10px;
} */
#services {
    scroll-margin: 50px;
    padding-top: 10px; 
}
#services .img-height {
    height: 203px;
}

 /* #image-right {
    display: inline-block;
    animation-duration: 800ms;
    background-image: url(../images/indoorpictures/indoor2.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;    
 } */
 /* #image-right img {
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5rem;
 } */
 /* .text-center h1 {
    animation: flipInY;
    animation-duration: 800ms;
 } */

 /* gallery */

 .section {
    margin-bottom: 2rem;
    margin-top: 2rem;
    
 }
 #header h1 {
    margin-top: 55px;
 }

 /* Form section */
 #booking-form {
    background-color: #f5f2f0;
    padding: 20px;
    margin: 100px;
    margin-bottom: 20px;
    border-radius: 5px;   
 }

 /* Form Received */
 #form-received {
    margin-top: 71px;
 }
 #form-received a {
    text-decoration: none;
 }

 /* input[type="date"] { */
    /* background-color: #d6a472; */
 /* } */

/* Footer section */
/* .social-links {
    display: flex;
    justify-content: space-between;
} */
#contact {
    /* background-color:rgb(224, 105, 8);  */
    background-color: #fed500;
    color: blue;
    /* background-color: #FFFCE5;
    color: #214ACA; */
    
}
#contact h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#contact h2:hover {
    color: blue;
}
#contact .sub-heading {
    color: black;
}
#contact ul {
    list-style-type: none;
    font-size: 1.8rem;
    
}
#contact ul i:hover {
    color: rgb(226, 226, 45);
}

/* 404 page */
.container-error {
    text-align: center;
}
.error_img {
    width: 50%;
}


.back-home a{
    font-size: 2rem;
    color: black;

}
.back-home a:hover {
    color: blue;
}

/* Media queries */

/* @media screen and (min-width:425px) {
    #image-right {
        width: 401px;
    }
    
}

@media screen and (min-width:768px) {
    #image-right {
        width: 363px;
    }
    
}

@media screen and (min-width:992px) {
    #image-right {
        width: 492px;
    }
    
} */

@media screen and (min-width:1200px) {
     #services .img-height {
        height: 173px;
     }
}

@media screen and (min-width:1400px) {
    /* #image-right {
        width: 400px;
    } */

    #services .img-height {
        height: 204px;
     }

    /* #services .card-height {
        min-height: 252px;
    } */
    /* #services .card-body {
        min-height: 252px;
    } */
    
}
